<!DOCTYPE html>
<html>
  <head>
    <title>RailsProgrammerProfilePartials</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <%= javascript_include_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-brand">
          Programmers We L<span class="glyphicon glyphicon-heart"></span>ve
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
